<div ng-controller="Page3Ctrl" id="Page3">

<div id="title17" ng-click="title17Tap()">
<h1>CVTD Bus Routes</h1>

</div>

<div id="list_item3" ng-click="list_item3Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 1 Extended
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item1" ng-click="list_item1Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 1
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item2" ng-click="list_item2Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 2
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item3" ng-click="list_item3Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 3
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item4" ng-click="list_item4Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 4
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item5" ng-click="list_item5Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 5
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item6" ng-click="list_item6Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 6
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item7" ng-click="list_item7Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 7
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item8" ng-click="list_item8Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 8
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item9" ng-click="list_item9Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 9
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item10" ng-click="list_item10Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 10
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item11" ng-click="list_item11Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route 11
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item12" ng-click="list_item12Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route CVN
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item13" ng-click="list_item13Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route CVS Express
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item14" ng-click="list_item14Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route CVS Off Peak
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item15" ng-click="list_item15Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    Route CVS Peak
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

<div id="list_item16" ng-click="list_item16Tap()">
<div class="list">
  <a class="item item-icon-right" href="#" ng-click="">
  
  
    FC Connection
  
    <i class="icon ion-ios7-arrow-right"></i>
  
  </a>
</div>

</div>

</div>